{% extends "layout copy 2.html" %}

{% block content %}
<div class="p-4">
    {% from '_macros.html' import render_color %}
    {% from '_macros.html' import render_color2 %}
    <div class="d-inline-block w-50">
        <img src="../static/img/resistencia.png" alt="NoHayImagen"
        style="height: 100%;width: 100%;">
    </div>



    <div class="bg-light w-25 p-2 float-end">
        <form action="" method="post" novalidate id="enviar">
            <input type="hidden" name="envio" value="gua">
            {{render_color2('barra1',c)}}
            {{render_color2('barra2',c)}}
            <hr class="text-light">
            {{render_color2('barra3',c)}}

            <hr class="text-light">
            <div class="control-group">
                <div class="controls">
                    <label class="text-light">Tolerancia</label>
                    <br>
                    <select name="tol" class="w-75" required>
                        <option value="5">Dorado 5%</option>
                        <option value="10">Plata 10%</option>
                    </select>
                </div>
            </div>
            <input type="submit" id="al1" name="al" value="Optener valor" form="enviar">
        </form>


        <form action="" method="post" novalidate id="ver">
            <input type="hidden" name="envio" value="ver">
            <input type="submit" id="al2" name="al" value="Ver valor" form="ver">
        </form>
    </div>
    <hr>
    <div class="bg-dark">
        <table class="table bg-light font-weight-bold">
        <tr>
            <th>Barra1</th>
            <th>Barra2</th>
            <th>Barra3</th>
            <th>Tolerancia</th>
            <th>Valor Teorico</th>
            <th>Max</th>
            <th>Min</th>
        </tr>
        {% for s in salida %}
        <tr>
            
            <td>{{ c[s[0]][0] }}</td>
            <td>{{ c[s[1]][0] }}</td>
            <td>{{ c[s[2]][0] }}</td>
            <td>{{ s[3] }}%</td>
            <td>{{ s[4] }}</td>
            <td>{{ s[5] }}</td>
            <td>{{ s[6] }}</td>
          </tr>
        {% endfor %}
        </table>
    </div>
</div>
<script>
    window.addEventListener('load', color());
    function color() {
        b1 = document.getElementById("barra1");
        b2 = document.getElementById("barra2");
        if (b2.value == 0 && b1.value == 0) {b1.value = 1;}
    }
</script>
{% endblock %}